* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
a {
    text-decoration: none;
}

header {
    position: absolute;
    width: 1440px;
    height: 70px;
    left: 0px;
    top: 0px;
    background: #313D3E;
}

body {
    background-color: #7A7B78;
}

footer {
    position: absolute;
    width: 1440px;
    height: 199px;
    left: 0px;
    top: 1951px;

    background: #151819;
}

header img {
    position: relative;
    width: 140px;
    height: 70px;
    left: 135px;
    top: 0px;
}

header a {
    
    position: absolute;
    width: 140px;
    height: 56px;
    left: 1165px;
    top: 7px;

    background: #7A7B78;
    border-radius: 30px;
}

header a div {

    position: sticky;
    width: 61px;
    height: 28px;
    left: 1204px;
    top: 21px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;

    color: #FFFFFF;
}

#divSearch{
    position: absolute;
    width: 370px;
    height: 35px;
    left: 305px;
    top: 18px;

    background: #7A7B78;
    border-radius: 30px;
}
  
#txtSearch{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:370px;
    border-radius: 30px;
}

#highlight {
    height: 698px;
    width: 1440px;
    left: 0px;
    top: 70px;
    border-radius: 0px;


    background-color: #7A7B78;
}

#hlBanner{
    position: absolute;
    width: 1440px;
    height: 698px;
    left: 0px;
    top: 70px;
    background-color: #cccccc;
}

#hlPoster {
    position: absolute;
    width: 270px;
    height: 405px;
    left: 135px;
    top: 85px;

    background-color: #ffffff;
}

#hlTitle {
    position: absolute;
    width: 204px;
    height: 40px;
    left: 168px;
    top: 520px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;

    /* identical to box height */
    text-align: center;

    color: #000000;
}

#info {
    position: absolute;
    width: 93px;
    height: 19px;
    left: 202px;
    top: 578px;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    /* identical to box height */
    text-align: left;

    color: #000000;
}

#movies {
    position: absolute;
    width: 1170px;
    height: 1033px;
    left: 135px;
    top: 828px;
}

#more {
    width: 370px;
    height: 88px;
    left: 535px;
    top: 1773px;

    align-items: center;

    background: #C4C4C4;


}
